<div class="col-md-12">
	<h3>All Notifications</h3>
	<hr>
</div>
<div class="col-md-12" ng-controller="NotificationpopoverCtrl">
    <div class="media univibe-notification-list-item" ng-repeat="n in notifications">
        <div class="media-left media-top">
            <a href="#">
                <img class="media-object" ng-src="{{n.profile_picture}}" alt="user.id">
            </a>
        </div>
        <div class="media-body">
            <small class="text-muted pull-right">{{n.time}}</small>
            <h5 class="media-heading">{{n.first_name}} {{n.last_name}}</h5>
            <p>{{n.description}}</p>
        </div>
    </div>
</div>
