<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Univibe Network</h4>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a ui-sref="base.feed"><i class="material-icons">view_list</i> Feed</a>
        </li>
        <li class="list-group-item">
            <a><i class="fa fa-hand-paper-o"></i> Mentorship</a>
        </li>
        <li class="list-group-item">
            <a ui-sref="base.events"><i class="material-icons">today</i> Events</a>
        </li>
        <li class="list-group-item">
        	<span class="label label-primary pull-right">New</span>
            <a ui-sref="base.exclusive"><i class="material-icons">theaters</i> Exclusive Content</a>
        </li>
        <li class="list-group-item">
            <a><i class="material-icons">info_outline</i> About Us</a>
        </li>
        <li class="list-group-item">
            <a ui-sref="base.donation"><i class="material-icons">card_giftcard</i> Donations</a>
        </li>
        <li class="list-group-item">
            <a><i class="material-icons">chrome_reader_mode</i> Newsletters</a>
        </li>
        <li class="list-group-item">
            <a><i class="material-icons">comment</i> Testimonials</a>
        </li>
        <li class="list-group-item">
            <a><i class="material-icons">trending_up</i> Leaderboard</a>
        </li>
        <li class="list-group-item">
            <a><i class="material-icons">language</i> Network</a>
        </li>
    </div>
</div>
