<nav class="navbar navbar-default transparent-nav" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img ng-srcset="{{college.imgUrlNormal}} 1x, {{college.imgUrlRetina}} 2x, {{college.imgUrlRetina3x}} 3x"
                    class="pull-left">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ui-sref="static">About</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li class="dropdown">
                    <button type="button" class="btn btn-primary navbar-btn" ui-sref="login">Log In</button>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<div class="jumbotron landing" ng-hide="banners.length">
    <div class="container-fluid text-center" ng-hide="slides.length">
        <h2>{{college.getFinalName()}}</h2>
        <p>Sign to to network with the people that matter the most</p>
        <!--<button type="button" class="btn btn-primary btn-lg hidden-xs" ng-click="seeVideo()"><i class="fa fa-youtube-play"></i> Why Join?</button>-->
        <p class="visible-xs">
            <a class="btn btn-outline btn-lg">Sign Up</a>
            <a class="btn btn-primary btn-lg" ui-sref="login">Log In</a>
        </p>
    </div>
</div>
<div class="jumbotron slideshow" ng-show="banners.length">
    <div class="container-fluid text-center" bg-slideshow="banners" class="slideshow"
        interval="10000">
        <h2>Something</h2>
        <p>Heresdfadsfadf </p>
    </div>
</div>
<div class="container landing-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <button type="button" class="btn btn-primary btn-sm pull-right">See All</button>
            <h3>Stories from Alumni</h3>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <img src="https://placehold.it/400x300" class="img-responsive center-block">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <h4>Post Title<br><small>Person Name</small></h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h3>Newsroom</h3>
            <hr>
            <div class="list-group event">
                <div class="list-group-item" ng-repeat="event in events">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object" ng-src="{{event.picture}}" alt="event.id">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">{{event.name}}</h5>
                            <small>{{event.posted_time}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <button type="button" class="btn btn-primary btn-sm pull-right">See All</button>
            <h3>Events</h3>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="list-group event">
                        <div class="list-group-item" ng-repeat="event in events">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="https://placehold.it/64" alt="event.id">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">{{event.name}}</h5>
                                    <small>Tomorrow at 9:35 PM</small>
                                    <p class="text-nowrap">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua....
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <button type="button" class="btn btn-primary btn-sm pull-right">See All</button>
            <h3>Notable Alumni</h3>
            <hr>
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="https://placehold.it/96">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Dr. Someone<br><small>Batch of 1989, Mechanical</small></h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <button type="button" class="btn btn-primary btn-outline">View Someone's Profile</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <br>
            <button type="button" class="btn btn-primary btn-sm pull-right">See All</button>
            <h3>Videos &amp; Webinars</h3>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="https://placehold.it/400x300" class="img-responsive center-block">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>How to Make great Startups<br><small>7 min 45 seconds</small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.</p>
            <button type="button" class="btn btn-primary">Learn More</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn btn-primary btn-sm pull-right">See All</button>
            <h4>Suggested Content</h4>
            <div class="list-group videos">
                <div class="list-group-item" ng-class="{'active':$index === 0}" ng-repeat="event in events">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object" src="https://placehold.it/48?text=21+Oct">
                            </a>
                        </div>
                        <div class="media-body">
                            <small class="pull-right">7 min 45 sec</small>
                            <h5 class="media-heading">Event {{$index + 1}}</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <br>
            <h3>Give Back</h3>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="event in events2">
            <div class="panel panel-default picture-panel">
                <div class="panel-heading" ng-style="{'background':'linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75))'}">
                    <h4 class="panel-title">Campaign Name</h4>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non semper leo. Ut
                    consectetur nunc ut dolor suscipit, at laoreet diam sollicitudin.
                    <br>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:60%">
                            <span>60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <br>
            <h3>What's trending about us</h3>
            <hr>
            <img src="https://placehold.it/800x600?text=lifestream+from+social+media+comes+here"
                class="img-responsive center-block" alt="Image">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <h3>Sponsors</h3>
            <hr>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2" ng-repeat="sponsor in sponsors">
            <img src="https://placehold.it/72" class="img-responsive center-block" alt="Image">
        </div>
    </div>
    <hr class="hidden-xs">
    <div class="row text-center hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="lead">
                Miss those college day conversations? They&apos;re waiting for you.
            </p>
            <button type="button" class="btn btn-outline btn-lg">Sign up for free</button>
            <br>
            <span>Already have an account? <a ui-sref="login"><strong>Log In</strong></a></span>
        </div>
    </div>
    <div class="row footer hidden-xs">
        <div class="col-sm-6">
            Powered by <strong>Univibe Network</strong>
        </div>
        <div class="col-sm-6 text-right">
            <ul class="list-inline">
                <li>About Institute</li>
                <li>Terms of Use</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
    <div class="row visible-xs text-center footer">
        <div class="col-xs-12">
            Powered by <strong>Univibe Network</strong>
            <br>
            <br>
        </div>
        <div class="col-sm-12 text-center">
            <ul class="list-inline">
                <li>About Institute</li>
                <li>Terms of Use</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>

