<div ng-repeat="banner in banners" class="slides" ng-class="{ visible: active_image == $index }" ng-style="{ 'background': 'linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5)), url(' + banner.img + ') no-repeat 50% 50%', 'background-size':'cover' }">
    <h2>{{banner.title}}</h2>
    <p class="lead">{{banner.subtitle}}</p>
    <!--<button type="button" class="btn btn-primary btn-lg hidden-xs" ng-click="seeVideo()"><i class="fa fa-youtube-play"></i> Why Join?</button>-->
    <p class="visible-xs">
        <a class="btn btn-outline btn-lg">Sign Up</a>
        <a class="btn btn-primary btn-lg" ui-sref="login">Log In</a>
    </p>
    <a ng-click="goToPrev()" class="scroller previous">
    	<i class="fa fa-chevron-left"></i>
    </a>
    <a ng-click="goToNext()" class="scroller next">
    	<i class="fa fa-chevron-right"></i>
    </a>
</div>
