<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
		<h4 class="modal-title text-center">How this works</h4>
	</div>
	<div class="modal-body center-block">
		<iframe width="275" height="250" src="https://www.youtube.com/embed/wlWsIH_bUKU" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline btn-block" ng-click="$close()">Got It</button>
	</div>
</div>