<div class="col-md-12 col-xs-12 text-center">
<img src="img/dribbbler_lego_character.jpg" class="img-responsive center-block">
	<h2>Some Text Here</h2>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nunc lacus, gravida a neque et, egestas luctus nunc. Maecenas a diam nec turpis laoreet tristique sit amet eu justo. Etiam non ipsum sed orci rhoncus congue. Ut ipsum eros, tempor sed erat cursus.</p>
	<button type="button" class="btn btn-primary btn-large">Get Started</button>
</div>
