<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-capitalize">{{paidPeople.length}} Contributed for this campaign</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6 col-md-4" ng-repeat="user in paid">
                <div class="media univibe-profile-list">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" ng-src="{{user.profile_picture}}" alt="user.id">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{user.first_name}} {{user.last_name}}</h5>
                        <small class="text-muted">{{user.tagline}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$close()">Okay</button>
    </div>
</div>
